// number 处理

/**
 * 价格处理函数
 * 入参 price 单位 分
 * 出参 price 单位 元 (支持输出 完整价格/整数部分/小数部分)
 * **/
var formatPrice = function (price, type) {
  if (!type) type = 'normal';
  var resultPrice = 0;
  switch (type) {
    case 'normal':
      resultPrice = (price / 100).toFixed(2); // 保留两位有效数字
      break;
    case 'int':
      resultPrice = parseInt(price / 100); // 保留整数
      break;
    case 'float':
      resultPrice = (price % 100).toString().length === 1 ? ('0' + (price % 100)) : Math.round(price % 100);
      break;
    case 'full':
      resultPrice = parseInt(price / 100) + '.' + ((price % 100).toString().length === 1 ? ('0' + (price % 100)) : Math.round(price % 100));
  }
  return resultPrice;
};
var formatWeight = function(g){
  return Number(g / 500).toFixed(1)//g换算成斤
}


module.exports = {
    formatPrice: formatPrice,
    formatWeight: formatWeight
}

